@import './styles/variable.scss';
@import './styles/head.scss';

.App {

}
.center {
    text-align: center;
}
.floatR{float: right;}
.floatL{float: right;}
.h24 {height: 24px;line-height: 24px}
.h48 {height: 48px;line-height: 48px}